<h1>所有联系人</h1>

<table class="table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>公司</th>
      <th>电话</th>
      <th>邮件</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.full_name, contact %></td>
        <td><%= contact.company.truncate(10) %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建联系人', new_contact_path %>
