<p id="notice"><%= notice %></p>

<strong><%= @contact.full_name %></strong><%= @contact.title %>
<p>
<%= @contact.company %>
</p><p>
<%= @contact.phone %>
<%= @contact.email %>
</p>

<hr>

<%= form_for(ContactNote.new, url:contact_contact_notes_path(@contact)) do |f| %>
 <h3>添加备忘</h3> 
  <%= f.hidden_field :contact_id, value:@contact.id %>
  <%= f.text_area :notes %>
  <br>
  来源：<%= f.select :source, ["", "邮件", "电话", "见面", "QQ", "微博AT", "微博私信", "微信"] %>
  时间：<%= f.datetime_select :occurred_on %>
  <br>
  <%= f.submit "添加备忘", class: "btn btn-success btn-sm" %>
<% end %>

<hr>
<% @contact.contact_notes.each do |cn| %>
  <div class="note">
    <h5><%= l cn.occurred_on, format: :long%> <span style="color:#999"><%= cn.source %></span></h5>
    <%=simple_format cn.notes %>
    <%= link_to "编辑", edit_contact_contact_note_path(@contact.id, cn.id) %>
  </div>
<% end %>

<%= content_for :side do %>
<p>
  <strong>QQ:</strong>
  <%= @contact.qq %>
</p>

<p>
  <strong>微博:</strong>
  <%= @contact.weibo %>
</p>

<p>
  <strong>网站:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>背景资料:</strong>
  <%= @contact.background_info %>
</p>


<%= link_to '编辑', edit_contact_path(@contact) %> |

<% end %>