<p id="notice"><%= notice %></p>

<strong><%= @contact.full_name %></strong><%= @contact.title %>
<p>
<%= @contact.company %>
</p><p>
<%= @contact.phone %>
<%= @contact.email %>
</p>

<hr>

<%= form_for [@contact, @contact.contact_notes.new] do |f| %>
 <h3>添加备忘</h3> 
  <%= f.text_area :notes %>
  <br>
  来源：
  <br>
  <%= f.submit "添加备忘" %>
<% end %>

<hr>
<% @contact.contact_notes.each do |cn| %>
  <div class="note"><%=simple_format cn.notes %></div>
<% end %>


<%= content_for :side do %>
<p>
  <strong>QQ:</strong>
  <%= @contact.qq %>
</p>

<p>
  <strong>微博:</strong>
  <%= @contact.weibo %>
</p>

<p>
  <strong>网站:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>背景资料:</strong>
  <%= @contact.background_info %>
</p>


<%= link_to '编辑', edit_contact_path(@contact) %> |

<% end %>

